<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <ul class="nav pt-3 pl-3" id="top-menu">
                <li>
                    <button type="button" class="btn btn-outline btn-primary dim active" name="monitor" id="monitor"><i class="fa fa-warning"></i>Monitor</button>
                </li>
                <li>
                    <button type="button" class="btn btn-outline btn-primary dim" name="explore" id="explore"><i class="fa fa-warning"></i>Explore</button>
                </li>
                <li>
                    <button type="button" class="btn btn-outline btn-default dim disabled" name="store" id="store"><i class="fa fa-warning"></i>Store</button>
                </li>
                <li>
                    <button type="button" class="btn btn-outline btn-default dim disabled" name="support" id="support"><i class="fa fa-warning"></i>Support</button>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#">
                    <i class="fa fa-sign-out"></i>
                    Log out
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Outlook view</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Layouts</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Outlook view</strong>
            </li>
        </ol>
    </div>
</div>